
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #c7ffff;
    flex-direction: column;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px
        #93fffa33;
    padding: 20px;
    /* transition: transform 0.2s; */
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.calculator{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.results{
    width: 50%;
    display: flex;
    flex-direction: column;
}