
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #c7ffff;
    flex-direction: column;
}

p, a{
    color: darkslategrey;
    font-size: 14px;
    
    
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px
        #93fffa33;
    padding: 20px;
    /* transition: transform 0.2s; */
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.calculator{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.results{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.calc-head, .amount-input, .term-rate, .term-input, .rate-input{
    display: flex;
    flex-direction: row;
}

.amount-input, .term-input, .rate-input{
    border: 1px solid black;
    border-radius: 3px;
    background: #c7ffff;
}

#amount input[type=text]:focus {
    border: none;
}

/* Mortgage Amount */
#dollar{
    width: 10%;
    padding: 5px;
    text-align: center;
}

#amount{
    width:90%;
    border: none;
}

/* Mortgage Term */
#term{
    width:65%;
    border: none;
}

#years{
    width: 35%;
    padding: 5px;
    text-align: center;
}

/* Interest Rate */
#rate{
    width:80%;
    border: none;
}

#percent{
    width: 20%;
    padding: 5px;
    text-align: center;
}





