
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #c7ffff;
    flex-direction: column;
}

p, a{
    color: darkslategrey;
    font-size: 14px;
    
    
}

.main {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px
        #0d0f0f33;
    /* transition: transform 0.2s; */
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.calculator{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.calc-head, .amount-input, .term-rate, .term-input, .rate-input{
    display: flex;
    flex-direction: row;

}
.calc-head{
    justify-content: space-between;
    padding-bottom: 20px;
}

.mort-amount, .term-rate, .mort-type{
    margin-top: 7px;
    margin-bottom: 7px;
}



.amount-input, .term-input, .rate-input, .type-input{
    border: 0.7px solid black;
    border-radius: 3px;
    background: #c7ffff;
    margin: 5px 5px 5px 0;
}



/* Mortgage Amount */
#dollar{
    width: 10%;
    padding: 5px;
    text-align: center;
}

#amount{
    width:90%;
    border: none;
}

#amount input[type=text]:focus {
    border: none;
}

/* Mortgage Term */
#term{
    width:65%;
    border: none;
}

#years{
    width: 35%;
    padding: 5px;
    text-align: center;
}

/* Interest Rate */
#rate{
    width:80%;
    border: none;
}

#percent{
    width: 20%;
    padding: 5px;
    text-align: center;
}

/* Mortgage Type */

.mort-type{
    display: flex;
    flex-direction: column;
}

.type-input{
    background: #fff;
    padding-top: 5px ;
    padding-bottom: 5px ;
    font-weight: 700;
}



.checkmark{
    padding: 5px;
    color: #f3cf2c;
}

input[type=radio]:checked {
    color: #f3cf2c;
}
  
 

.type-input input:checked ~ .checkmark {
    background-color: #f3cf2c;
}

#btn{
    width: 75%;
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f3cf2c;
}

#calc{
    width: 17px;
    height: 17px;
    padding: 5px 8px;
}

.results{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 20px 20px 50px;
    background-color: #001329;
}

.results-text {
    color: #eee;
}

.results-text p, .repayments p{
    font-size: 13px;
    color: #aaa;
    padding-top: 10px;
}

